body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

main {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  padding: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.control-panel {
  flex-basis: 100%;
  padding: 16px;
}

.control-panel .buttons {
  margin-top: 16px;
}

.material-completion {
  margin-left: auto;
}

.material-item, 
.new-material-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.material-item--completed, 
.recipe-item--completed {
  background-color: limegreen;
}

.material-item {
  padding: 8px;
}

.material-time-container {
  display: flex;
  flex-direction: column;
}

.new-material-item .buttons {
  margin-top: 0px;
}

.materials {
  flex: 3;
}

.recipe-item {
  gap: 8px;
  padding: 8px;
}

.recipe-item .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-controls,
.material-controls,
.submaterial-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  border: none;
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-materials {
  margin: 0.5em 0;
}

.recipe-name {
  margin: 0;
  text-align: center;
}

.recipe-onhand, 
.material-onhand {
  display: flex;
  align-items: center;
  gap: 4px;  
}

.recipes, 
.timers {
  flex: 1;
}

.submaterial-controls,
.submaterial-list {
  margin-left: 16px;
}

.hidden {
  display: none;
}

.list-empty {
  display: none;
}

#addRecipe {
  font-size: 18px;
}

#closePanel {
  height: 24px;
  width: 24px;
}

#newMaterialList {
  gap: 16px;
}
