body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

main {
  display: flex;
  gap: 8px;
  padding: 8px;
}

.container {
  border: 1px solid black;
}

.materials {
  flex: 3;
}

.recipes, 
.timers {
  flex: 1;
}